<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="icon" href="https://media.geeksforgeeks.org/wp-content/cdn-uploads/gfg_200X200.png" type="image/x-icon">
  </head>
  
  <div class="about">
    <h1 class="about__heading">About Me</h1>
    <p class="about__body">Hi, I'm Tolu, a web developer and an aspiring full stack dev. I'm passionate about building innovative and user-friendly applications.
        This Blog app just houses my thoughts and its an avenue for those who want to read it.
    </p>
  
  
    <section class="about__sections">
      <h2 class="about__sections-heading">My Skills</h2>
      <ul class="about__sections-list">
        <li>HTML/CSS</li>
        <li>JavaScript</li>
        <li>Node.js</li>
        <li>EJS</li>
        <li>Wordpress</li>
        <li>Flutterflow</li>
        <!-- Add more skills here -->
      </ul>
    </section>
  
    <section class="about__sections">
      <h2 class="about__sections-heading">My Experience</h2>
      <p class="about__sections-body">I have been building web applications over a year, and I'm always looking to improve my skills and take on new challenges.</p>
    </section>
  
    <section class="about__sections">
      <h2 class="about__sections-heading">Get in Touch</h2>
      <p class="about__sections-body">Want to collaborate on a project or just say hi? You can reach me at <a href="mailto:toluomoniyi24@gmail.com">toluomoniyi24@gmail.com</a>.</p>
    </section>
  </div>